<!DOCTYPE html><html data-bs-theme="auto" lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"><title>Multi Feed ESP32 CAM Object Detection</title>
			<script>
(function() {

	// JavaScript snippet handling Dark/Light mode switching

	const getStoredTheme = () => localStorage.getItem('theme');
	const setStoredTheme = theme => localStorage.setItem('theme', theme);
	const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

	const getPreferredTheme = () => {

		if (forcedTheme) return forcedTheme;

		const storedTheme = getStoredTheme();
		if (storedTheme) {
			return storedTheme;
		}

		const pageTheme = document.documentElement.getAttribute('data-bs-theme');

		if (pageTheme) {
			return pageTheme;
		}

		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	}

	const setTheme = theme => {
		if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
			document.documentElement.setAttribute('data-bs-theme', 'dark');
		} else {
			document.documentElement.setAttribute('data-bs-theme', theme);
		}
	}

	setTheme(getPreferredTheme());

	const showActiveTheme = (theme, focus = false) => {
		const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

		if (!themeSwitchers.length) return;

		document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
			element.classList.remove('active');
			element.setAttribute('aria-pressed', 'false');
		});

		for (const themeSwitcher of themeSwitchers) {

			const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

			if (btnToActivate) {
				btnToActivate.classList.add('active');
				btnToActivate.setAttribute('aria-pressed', 'true');
			}
		}
	}

	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
		const storedTheme = getStoredTheme();
		if (storedTheme !== 'light' && storedTheme !== 'dark') {
			setTheme(getPreferredTheme());
		}
	});

	window.addEventListener('DOMContentLoaded', () => {
		showActiveTheme(getPreferredTheme());

		document.querySelectorAll('[data-bs-theme-value]')
			.forEach(toggle => {
				toggle.addEventListener('click', (e) => {
					e.preventDefault();
					const theme = toggle.getAttribute('data-bs-theme-value');
					setStoredTheme(theme);
					setTheme(theme);
					showActiveTheme(theme);
				})
			})
	});
})();
</script><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/darkly/bootstrap.min.css"><link rel="manifest" href="/manifest.json?h=1801c46b538714f6ae39f92d02ba43d4" crossorigin="use-credentials"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap"><link rel="stylesheet" href="/assets/css/styles.min.css?h=f3f5e3e0fd9b38313d60c6777e01a15a"></head><body style="width: auto;height: auto;"><header><nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark"><div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
  <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"></path>
  <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
</svg></span><span>Object Detection</span></a><div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-6"></div><div class="d-none d-md-block"></div></div></nav></header><main><div class="container"><img src="{{ url_for('video_feed') }}" alt="Video stream not available" width="104" height="90" style="width: auto;height: auto;padding: 2px;"></div></main><footer class="text-center bg-dark"><div class="container text-white py-4 py-lg-5"><p class="text-muted mb-0">Copyright © 2024 dhrubasaha08</p></div></footer><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script></body></html>